[submodule "Coding Dojo (MEAN, Python, RoR, Web Basics)/MEAN/authors/codecodecode"]
	path = Coding Dojo (MEAN, Python, RoR, Web Basics)/MEAN/authors/codecodecode
	url = https://github.com/ZPieper/codecodecode.git
